@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  src: url("../../public/fonts/IRANSansX-Thin.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url("../../public/fonts/IRANSansX-UltraLight.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/IRANSansX-Light.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/IRANSansX-Medium.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/IRANSansX-DemiBold.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/IRANSansX-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("../../public/fonts/IRANSansX-Black.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 950;
  src: url("../../public/fonts/IRANSansX-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 1000;
  src: url("../../public/fonts/IRANSansX-Heavy.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/IRANSansX-Bold.woff") format("woff");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/IRANSansX-Regular.woff") format("woff");
}